a {
  text-decoration:none;
}

.content a[id="trash"]:after{
  font-family: FontAwesome;
  content: '\f1f8';
  color : #000;
}
td {
    padding: 8px;
    background-color: #eee;
    display: inline-block;
    margin: 0;
    border: 0;
}
td.spaced {margin-right: 20px;}



.stars div{
  width: 125px;
  display: inline-block;
}

.stars form{
  margin:0;
}

[type=radio]:checked ~ label.star {
  background: #eee;
  border-bottom: 0;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  border: 0;
  font-size: 16px;
  color: #444;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
